.new_entry_form {
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
}

.new_entry_form mat-form-field {
    margin-right: 10px;
    margin-left: 10px;
}
.new_entry_form button{
    margin-left: 200px;
    
}


